#loginForm {
    -fx-padding: 30 0 0 0;
}


#usernameBox {
    -fx-spacing: 50;
    -fx-border-insets: 50;
}

#usernametxt {
    -fx-translate-x: 190;
    -fx-translate-y: 0;
}

#usernameInput {
    -fx-translate-x: 200;
    -fx-translate-y: 0;
}

#passwordBox {
    -fx-spacing: 50;
}

#passwordtxt {
    -fx-translate-x: 190;
    -fx-translate-y: 0;
}

#passwordInput {
    -fx-translate-x: 210;
    -fx-translate-y: 0;
}

#btnBox {
    -fx-alignment: center;
    -fx-spacing: 50;
}

#copyBox {
    -fx-alignment: center;
}
