.loginForm{
    /*-fx-background-color: transparent;*/
    /*-fx-effect: innershadow(gaussian, #333333, 5, 0, 20, 20);*/
    -fx-background-color: rgba(255, 255, 255, 0);
    -fx-effect: dropshadow(gaussian, red, 20, 0, 0, 0);
    -fx-translate-x: 20;
    -fx-translate-y: 20;
    -fx-pref-width: 640;
    -fx-pref-height: 640;
}

.main{
    -fx-background-color: pink;
    -fx-pref-width: 600;
    -fx-pref-height: 600;
}

.tabletitle{
    /*-fx-halignment: center;*/
    /*-fx-alignment: center;*/
}

.username{
    -fx-pref-width: 200;
    -fx-pref-height: 50;
    -fx-max-height: 52;
    -fx-background-color: yellow;
    -fx-alignment: center-right;
    -fx-padding: 5;
}

.usernameInput{

}

.password{
    -fx-pref-width: 100;
    -fx-background-color: green;
    -fx-alignment: center;
}

.passwordInput{

}

.btn{
    -fx-background-color: green;
}

.btn:pressed{
    -fx-opacity: 0.8;
}
